div{
    font-size: 30px;
   /* animation: example 2S infinite;*/    /*简写属性，将动画与page元素绑定  infinite：不断循环*/
}
#a{
    background-color: aqua;
    text-align: center;
    animation: a 10s infinite;
}

#b{
    background-color:lawngreen;
    text-align: center;
    animation: b 10s infinite;
}

#c{
    background-color:  darkorange;
    text-align: center;
    animation: c 10s infinite;
}

#d{
    background-color:bisque;
    text-align: center;
    animation: d 10s infinite;
}
.clearfix{
    overflow: auto;
}

@keyframes a{    /*动画效果*/
    0%{opacity: 0}
    20%{opacity: 100}
    40%{opacity: 0}
    100%{opacity: 0}
}

@keyframes b{    /*动画效果*/
    0%{opacity: 0}
    20%{opacity: 0}
    40%{opacity: 100}
    60%{opacity: 0}
    100%{opacity: 0}
}

@keyframes c{    /*动画效果*/
    0%{opacity: 0}
    40%{opacity: 0}
    60%{opacity: 100}
    80%{opacity: 0}
    100%{opacity: 0}
}

@keyframes d{    /*动画效果*/
    0%{opacity: 0}
    60%{opacity: 0}
    80%{opacity: 0}
    100%{opacity: 100}
}